<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.CommentDao">

	<select id="selectComment" parameterType="int" resultType="Comment">
		select comment.*,user.user_nickname from `comment`,`user` where post_num = #{post_num} and comment.comment_writer_id = user.user_id
	</select>
	
	<insert id="registComment" parameterType="Comment">
		insert into comment (comment_content,comment_writer_id,post_num,comment_created_at)
		values
		(#{comment_content},${comment_writer_id},${post_num},now())
	</insert>
	
	<update id="updateComment" parameterType="Comment">
		UPDATE comment set comment_content = #{comment_content} ,comment_modified_at = now()  where comment_num =${comment_num} 
	</update>
	
	<delete id="deleteComment" parameterType="int">
		delete from comment where comment_num = ${comment_num}
	</delete>
	
</mapper>